.hero-about {
    height: 50vh;
    /* background-image: url("/images/pexels-ella-olsson-1640772.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/images/pexels-alesia-kozik-7342197.jpg");
}

.about-container {
    display: flex;
    align-items: center;
    /* height: 100vh; */
    max-width: 100%;
    /* margin: 20px 0; */
}

.about-container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    width: 700px;
    /* max-width: 900px; */
    /* min-width: 414px; */
    background: #fff;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    box-shadow: 10px 29px 25px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.99)),
        url("/images/pexels-ella-olsson-1640772.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow-y: hidden;
}

.about-container h2 {
    margin: 1em;
}

.about-container p {
    max-width: 500px;
    padding: 0 1em 0 1em;
    margin-bottom: 1em;
    line-height: 1.7;
}

.go-vegan-image img {
    width: 100%;
}

@media screen and (min-width: 550px) {
    .go-vegan-image {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .go-vegan-image {
        width: 60%;
    }
}
