/* hero section */
.hero-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("/images/hero-about.jpg");
}
/* hero section end */

/* about section */
.about-container {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.about-container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    background: var(--background);
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 0 7px;
    overflow-y: hidden;
}

.about-info h2 {
    margin: 20px 0;
}

.about-info h3 {
    margin-top: 30px;
}

.about-info p {
    line-height: 1.7;
    font-size: 1.5rem;
    margin: 10px 0;
}

.go-vegan-image img {
    margin-top: 40px;
    width: 100%;
}
/* about section end */
