.hero-about {
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/images/pexels-alesia-kozik-7342197.jpg");
    display: grid;
    place-items: center;
}

.about-container {
    display: flex;
    align-items: center;
    /* height: 100vh; */
    max-width: 100%;
    /* margin: 20px 0; */
}

.about-container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: left; */
    /* height: 100vh; */
    width: 700px;
    /* max-width: 900px; */
    /* min-width: 414px; */
    background: #f8f8ff;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 0 7px;

    /* box-shadow: 10px 29px 25px rgba(0, 0, 0, 0.3); */
    /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.99)),
        url("/images/pexels-ella-olsson-1640772.jpg"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* border-radius: 20px; */
    overflow-y: hidden;
}

/* .about-info h2 {
    margin: 20px 7px;
} */

.about-info h2 {
    margin: 20px 0;
}

.about-info h3 {
    margin-top: 30px;
}

.about-info p {
    line-height: 1.7;
    font-size: 1.5rem;
    margin: 10px 0;
}

/* .about-container p {
    max-width: 500px;
    padding: 0 1em 0 1em;
    margin-bottom: 1em;
    line-height: 1.7;
} */

.go-vegan-image img {
    margin-top: 40px;
    /* padding: 0 7px; */
    /* margin: 20px 0 10px 0; */
    width: 100%;
}

/* @media screen and (min-width: 550px) {
    .go-vegan-image {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .go-vegan-image {
        width: 60%;
    }
} */
