/* hero section */
.hero-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("/images/hero-contact.jpg");
}
/* hero section end */

/* contact info section */
.contact-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0px auto;
    margin: 40px 0;
    padding: 50px 7px;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 670px;
    width: 500px;
    box-shadow: 10px 10px 25px 7px rgba(0, 0, 0, 0.58);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 0 auto;
}

#contactForm {
    width: 310px;
    text-align: center;
}

.contact-form {
    display: grid;
    place-items: center;
    width: 310px;
}

.contact-form h2 {
    margin: 20px 0;
    overflow: hidden;
}

.contact-form form {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.contact-form input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    background: rgb(230, 230, 227);
    border: none;
    font-size: 0.9rem;
    margin-top: 10px;
    font-size: 1rem;
}

.contact-form textarea {
    background: rgb(230, 230, 227);
    border: none;
    width: 300px;
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 1.1rem;
}

.contact-button {
    display: grid;
    place-self: center;
    align-items: center;
    width: 290px;
    height: 40px;
    margin: 30px 0;
    background: var(--primary);
    color: var(--dark);
    border: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.58);
    cursor: pointer;
    border-radius: 20px;
}

.contact-button:hover {
    background: rgb(214, 159, 64);
}

#message {
    display: grid;
    place-items: center;
    background: var(--primary);
    width: 300px;
    height: fit-content;
    overflow: hidden;
}

.success {
    color: var(--dark);
    border: none;
    font-size: 1.1rem;
    padding: 0.8em;
}
/* contact info section end */
