/* hero posts */
.hero-posts {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("/images/hero-posts.jpg");
    margin-bottom: 50px;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
/* hero posts end */

.button-container {
    width: 100%;
    display: grid;
    place-items: center;
}

#button-toggle-posts {
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 30px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--background);
    background: rgb(22, 22, 22);
    border: none;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.58);
    border-radius: 20px;
}

#button-toggle-posts:hover {
    background: #221b1b;
}

/* media queries */
@media screen and (min-width: 840px) {
    .posts-container {
        max-width: 900px;
    }
}

@media screen and (min-width: 980px) {
    .posts-container {
        max-width: 1200px;
    }
}

@media screen and (min-width: 1921px) {
    .posts-container {
        max-width: 1300px;
    }
}
/* media queries end */
